<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codinavi2">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CapstoneCODINAVI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneCODINAVI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.codinavi2.SearchOtherlocation"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.IntroduceCameraBtn"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.ConfirmActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.ColorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.CodiActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.GuideActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.WeatherActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.UserActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.example.codinavi2.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>